<!DOCTYPE html>
<html>
<head>
    <title>
        레저 추천 프로젝트
    </title>
</head>
<body>
    <div>
        <p>---------------------------------------------------------------------------</p>
        {% if data == None %}
        <h5> 관련된 시설이 없습니다. </h5>
        {% else %}
            {% for i in data %}
                <p>시설 종목명: {{ i.시설종목명 }}</p>
                <p>시도명: {{ i.시도명 }}</p>
                <p>시군구명: {{ i.시군구명 }}</p>
                <p>시설명: {{ i.시설명 }}</p>
                <p>도로명 기본주소: {{ i.도로명기본주소 }}</p>
                <p>도로명 상세주소: {{ i.도로명상세주소 }}</p>
                <p>전화번호: {{ i.전화번호 }}</p>
                <p>홈페이지: {{ i.홈페이지 }}</p>
                <p>---------------------------------------------------------------------------</p>
            {% endfor %}
        {% endif %}
    </div>
</body>
</html>
